# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/.generators
.idea/.rakeTasks
.idea/SNS_v1.iml
.idea/dataSources/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
public/uploads/photo/
