= simple_form_for :search, method: 'get', url: search_path, remote: true do |f|
  = f.text_field :q, id: 'remote_search', autocomplete: :off, placeholder: 'Search', class: "form-control typeahead scrollable-dropdown-menu"
