.col-lg-4.col-md-4.col-sm-4.col-xs-6
  br
  = link_to(photo, id: photo.id, 'data-toggle': 'modal', 'data-target': '#myModal')
    = image_tag photo.image.photo_show.url, class: 'img-responsive', style: 'border-radius: 6px;'
