// Place all the styles related to the MainFeed controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.photo {
  padding: 5%;
}

.feed-photo {
  padding: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  background-color: #F8F8FF;
}
