// Place all the styles related to the Profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ava_profile {
  padding: 20%;
}

h1 {
  padding-top: 4%;
  padding-bottom: 3%;
}

.btn-my_class {
  margin-top: 20px;
  margin-bottom: 10px;
}

.my_style_photo_preview {
  background-image: url("Untitled.png");
  height: 256px;
  width: 256px;
}

.my_style_photo_preview_v2 {
  background-image: url("2.png");
  height: 256px;
  width: 256px;
}
